<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-1 me-5">
      <%= render "partials/sidebar"%>
    </div>
    <div class="col-md-5 ms-3 mt-2">
        <div class="card border-warning">  
            <h4 class="card-header text-decoration"><%= @category.name%></h4>
            <div class="card-body">
                <p class="card-title"><%= @category.description%></p>
            </div>
        </div>        
    </div>
    <div class="col-md-3 mt-2">
      <div class="card text-black bg-white">
        <h4 class="card-header text-decoration">Add New Task</h4>
          <div class="form-group ms-2 mt-2">
          <%= render "partials/task-error" %>
            <%= form_with scope: :task, model: [ @category, @task ], local: true do |f| %>
            <%= hidden_field_tag :category_id, @category.id %>
              <p>
                <%= f.text_field :name, placeholder: "Enter Task Name" %>
              </p>
              <p>
                <%= f.date_field :due_date, placeholder: "Pick a deadline" %>
              </p>
              <p>
                <%= submit_tag("Create Task") %>
              </p>
            <% end %> 
      </div>
    </div>          
  </div>
</div> <!-- container -->

