<nav class="navbar navbar-expand-lg navbar-primary bg-warning ms-2 me-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1 class="ms-2">Proj <i class="fas fa-check-circle"></i> </h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class= "d-flex .justify-content-sm-end">
      <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>Sign-in</h2></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><h2>Sign-up</h2></a>
        </li>
    </div>
  </div>
    
  </div>
</nav>

<div class="d-inline-flex p-2">
  <div class="btn-group-vertical mt-2 ms-2 custom5">
    <a href="#" class="btn btn-primary custom">Dashboard</a>
    <a href="#" class="btn btn-primary custom">Profile</a>
    <a href="/categories/new" class="btn btn-primary custom">Create Project</a>
    <a href="/categories" class="btn btn-primary custom">Projects</a>
  </div>

  
    <div class="card border-warning ms-2 mt-2 mb-2 custom4-5">  
      <h4 class="card-header text-decoration"><%= @category.name %></h4>
    <div class="card-body">
      <p class="card-title"><%= @category.description%></p>
    </div>
    </div>

<div class="card text-black bg-white ms-2 mt-2 mb-2 custom6">
  <h4 class="card-header text-decoration">Add New Task</h4>
  <div class="form-group mt-2 custom4-5">
    <%= form_with scope: :task, model: [ @category, @task ], local: true do |f| %>
      <%= hidden_field_tag :category_id, @category.id %>
      <p class="row custom4-5 ms-2">
        <%= f.text_field :name, placeholder: "Enter Task Name" %>
      </p>
      <p class="row custom4-5 ms-2">
        <%= f.date_field :due_date, placeholder: "Pick a deadline" %>
      </p>
      <p class="ms-2">
      <%= submit_tag("Create Task") %>
      </p>
    <% end %> 
  </div>
</div>

 