<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-1 me-5">
      <%= render "partials/sidebar"%>
    </div>
    <div class="col-md-4 ms-3">
      <div class="card text-black bg-warning ms-2 mt-2 mb-2 custom3">
        <h4 class="card-header text-decoration">Create A Project</h4>
        <div class="mt-2">
          <%= render "partials/error" %>
          <%= form_with model: @category, local: true do |f| %>
            <div class="form-group ms-2 custom7">
              <p>
                <%= f.text_field :name, placeholder: "Enter Project Title", class: "form-control" %>
              </p>
            </div>

            <div class="form-group ms-2 custom7">
              <p>
                <%= f.text_area :description, placeholder: "Enter Project Description", class: "form-control" %>
              </p>
            </div>

            <p class="ms-2">
            <%= submit_tag("Create Project") %>
            </p>
          <% end %> 
        </div>
      </div>
    </div>
    <div class="col-md-6">
  </div>